---
title: Coast Guard Quiz
---



<h1>Coast Guard Quiz</h1>

<h3>Enlisted Insignia</h3>

<%

seaman_recruit = {
	:img => "<img src = 'images/USCG_SR.png'>",
	:name => "Seaman Recruit",
	:class => "Seaman",
	:abbr => "SR",
	:title => "Seaman (last name)",
	:paygrade  => "E1"
}

seaman_apprentice = {
	:img => "<img src = 'images/USCG_SA.png'>",
	:name => "Seaman Apprentice",
	:class => "Seaman",
	:abbr => "SA",
	:title => "Seaman (last name)",
	:paygrade => "E2"
}

seaman = {
	:img => "<img src = 'images/USCG_SM.png'>",
	:name => "Seaman",
	:class => "Seaman",
	:abbr => "SN",
	:title => "Seaman (last name)",
	:paygrade => "E3"
}

ranks = [seaman_recruit, seaman_apprentice, seaman]

ranks.shuffle!

%>

<p><%= ranks[0].values.join("<br>") %></p>
<p><%= ranks[1].values.join("<br>") %></p>
<p><%= ranks[2].values.join("<br>") %></p>



